.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: red;
  border-bottom: solid 2px red;
}

.App-body {
  color: black;
  margin-top: 40px;
  min-height: 400px;
  border-bottom: solid 2px red;
}

.App-footer {
  font-style: italic;
  color: black;
}
